*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

h1{
    background-color: #E8C547;
    height: 5rem;
    line-height: 5rem;
    font-size: 3rem;

}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.choice:hover{
   cursor: pointer;
   background-color: black;
   opacity: 0.9;

}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
    margin-top: 3rem;

}

#user-score{
    font-size: 3rem;
}

#bot-score{
    font-size: 3rem;
}

.message-cont{
    margin-top: 5rem;
}

#message{
    background-color: black;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 10px;
    

}

